body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.loading-screen {
    display: flex;
    color: orange;
    justify-content: center;
    font-size: 8vw;
    font-family: rockwell;"
  }
